<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="Layouts/layout">

<head>
    <meta charset="UTF-8">
    <title>Patient</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container my-4">
        <div class="row">
            <div class="formLogin col-md-11 mx-auto mb-2">
                <form method="post" th:action="@{patient/rdvnow}" th:object="${rdv}">
                    <div class="form-group">
                        <label for="dateNaissance">Rendez-vous</label>
                        <input type="date" th:field="*{date}" class="form-control" id="dateNaissance">
                    </div>
                    <button type="submit" class="btn btn-primary">Rendez-vous</button>
                </form>
            </div>
<!--            <div class="col-md-12 my-4 text-right">-->
<!--                <a class="btn btn-primary" th:href="@{/patient/rdv}">Rendez-vous</a>-->
<!--            </div>-->
            <div class="col-md-12">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Statu</th>
                            <th scope="col">Retard</th>
                            <th scope="col">Terminer</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="listRdv : ${listRdv} ">
                            <th scope="row" th:text="${listRdv.getId()}"></th>
                            <td th:text="${listRdv.getDate()}"></td>
                            <td th:text="${listRdv.getStatus()}"></td>
                            <div th:if="${listRdv.getRetard()}">
                                <td>Yes</td>
                            </div>
                            <div th:if="${!listRdv.getRetard()}">
                                <td>No</td>
                            </div>

                            <div th:if="${listRdv.getCancel()}">
                                <td>Yes</td>
                            </div>
                            <div th:if="${!listRdv.getCancel()}">
                                <td>No</td>
                            </div>
                            <td>
                                <a class="btn btn-info btn-sm mr-1" th:href="@{'patient/rdv/'+${listRdv.getId()}+'/show'}">Détails</a>
<!--                                <form class="input-group" method="post" th:action="@{'patient/rdv/'+${listRdv.getId()}+'/terminer'}">-->
<!--                                    <button class="btn btn-danger btn-sm" type="submit">Terminer/Bloquer</button>-->
<!--                                </form>-->
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
</body>
</html>
