<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
            layout:decorator="Layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <div layout:fragment="content">
        <div class="container">
            <div class="row my-3">
                <div class="col-md-12">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Cin</th>
                            <th scope="col">Nom Prenom</th>
                            <th scope="col">Ville</th>
                            <th scope="col">Email</th>
                            <th scope="col">Date Creation</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="row : ${patients} ">
                            <td th:text="${row.getId()}"></td>
                            <td th:text="${row.getCin()}"></td>
                            <td th:text="${row.getUser().getNom()} +' '+ ${row.getUser().getPrenom()}"></td>
                            <td th:text="${row.getUser().getEmail()}"></td>
                            <td th:text="${row.getVille()}"></td>
                            <td th:text="${row.getUser().getCreate_at()}"></td>
                            <td>
                                <form class="input-group" method="post" th:action="${row.getId()+'/delete'}">
                                    <a class="btn btn-info btn-sm mr-1" th:href="@{'medcin/'+${row.getId()}+'/show'}">Détails</a>
                                    <button class="btn btn-danger btn-sm" type="submit">Supprimer</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
