<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="Layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <div class="formLogin col-md-11 mx-auto mb-2">

                    <table class="table">
                        <tbody>
                        <tr>
                            <th>RDV ID</th>
                            <td th:text="${rdv.getId()}"></td>
                        </tr>
                        <tr>
                            <th>CIN</th>
                            <td th:text="${rdv.getPatient().getCin()}"></td>
                        </tr>
                        <tr>
                            <th>Nom Prenom</th>
                            <td th:text="${rdv.getPatient().getUser().getNom()}+' '+${rdv.getPatient().getUser().getPrenom()}"></td>
                        </tr>
                        <tr>
                            <th>Address</th>
                            <td th:text="${rdv.getPatient().getUser().getAddress()}"></td>
                        </tr>
                        <tr>
                            <th>Email</th>
                            <td th:text="${rdv.getPatient().getUser().getEmail()}"></td>
                        </tr>
                        <tr>
                            <th>Ville</th>
                            <td th:text="${rdv.getPatient().getVille()}"></td>
                        </tr>
                        <tr>
                            <th>Couverture Sociale</th>
                            <td th:text="${rdv.getPatient().getCouvertureSociale()}"></td>
                        </tr>
                        <tr>
                            <th>Profession</th>
                            <td th:text="${rdv.getPatient().getProfession()}"></td>
                        </tr>
                        <tr>
                            <th>Date Naissance</th>
                            <td th:text="${rdv.getPatient().getUser().getDateNaissance()}"></td>
                        </tr>
                        <tr>
                            <th>Motif</th>
                            <td th:text="${rdv.getPatient().getMotif()}"></td>
                        </tr>
                        </tbody>
                    </table>

                    <form th:object="${compteRendu}" method="post" th:action="${'/medcin/'+rdv.getId()+'/createcr'}">
                        <div class="form-group">
                            <label>Compte Rendu</label>
                            <textarea th:field="${compteRendu.description}" type="text" class="form-control w-100 h-75"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
