<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

    <a class="btn btn-outline-primary" th:href="@{/medcin}">Medcin</a>
    <p class="btnColor">Index</p>
    <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
    <a class="btn btn-outline-primary" th:href="@{/registration}">Enregistrer</a>
    <a class="btn btn-outline-primary" th:href="@{/logout}">Logout</a>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
