<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="Layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-11 mx-auto mt-5">
                <div class="formLogin">
                    <h1 class="line text-center">Connexion</h1>
                    <form class="mb-2" method="post" th:action="@{/login}">
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" name="username" class="form-control" id="email" placeholder="Email address">
<!--                            <small id="emailHelp" class="form-text text-muted">Error</small>-->
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de Passe</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Mot de Passe">
                        </div>

                        <button type="submit" class="btn btn-primary w-100">Connexion</button>
                    </form>
                    <a class="btn btn-outline-secondary w-100" th:href="@{/registration}">Enregistrer</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
