<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <div class="row mt-2">
        <div class="col-lg-6 col-md-6 col-sm-11 mx-auto">
            <h1>Login</h1>
            <form method="post" th:action="@{/login}">
                <div class="form-group">
                    <label for="email">Email address</label>
                    <input type="email" name="username" class="form-control" id="email">
                    <small id="emailHelp" class="form-text text-muted">Error</small>
                </div>
                <div class="form-group">
                    <label for="password">Mot de Passe</label>
                    <input type="password" name="password" class="form-control" id="password">
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </form>
            <a class="btn btn-outline-primary" th:href="@{/registration}">Enregistrer</a>
        </div>
    </div>
</div>
</body>
</html>
