<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="Layouts/layout">
<head>
    <meta charset="UTF-8">
    <title>Enregistrer</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row mt-2">
            <div class="col-lg-8 col-md-8 col-sm-11 mx-auto">
                <div class="formLogin">
                    <h1 class="line text-center">Enregister Patient</h1>
                    <form class="mb-3" method="post" th:action="@{createPatient}" th:object="${user}">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="Nom">Nom</label>
                                    <input type="text" th:field="*{nom}" class="form-control" id="Nom" placeholder="Nom">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Prenom">Prenom</label>
                                    <input type="text" th:field="*{prenom}" class="form-control" id="Prenom" placeholder="Prenom">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Addresse">Addresse</label>
                            <input type="text" th:field="*{address}" class="form-control" id="Addresse" placeholder="Addresse">
                        </div>

                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" th:field="*{email}" class="form-control" id="email" placeholder="Email address">
<!--                            <small id="emailHelp" class="form-text text-muted">Error</small>-->
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de Passe</label>
                            <input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Mot de Passe">
                        </div>
                        <ul class="list-group">
                            <label>Sexe</label>
                            <li class="list-group-item">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" th:field="*{sexe}" id="sexeHomme" value="Homme" checked="checked">
                                    <label class="form-check-label" for="sexeHomme">Homme</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" th:field="*{sexe}" id="sexeFemme" value="Femme">
                                    <label class="form-check-label" for="sexeFemme">Femme</label>
                                </div>
                            </li>
                        </ul>
                        <div class="form-group">
                            <label for="Telephone">Telephone</label>
                            <input id="Telephone" th:field="*{tel}" type="text" class="form-control" placeholder="Telephone">
                        </div>
                        <div class="form-group">
                            <label for="dateNaissance">Date Naissance</label>
                            <input type="date" th:field="*{dateNaissance}" class="form-control" id="dateNaissance" placeholder="Date Naissance">
                        </div>

                        <div class="row">
                            <div class="col">
                                <label for="cin">CIN</label>
                                <input type="text" th:field="*{patient.cin}" class="form-control" id="cin"placeholder="CIN">
                            </div>
                            <div class="col">
                                <label for="ville">Ville</label>
                                <input type="text" th:field="*{patient.ville}" class="form-control" id="ville" placeholder="Ville">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="profession">Profession</label>
                            <input type="text" class="form-control" th:field="*{patient.profession}" id="Profession" placeholder="Profession">
                        </div>

                        <div class="form-group">
                            <label for="motif">Motif</label>
                            <input type="text" th:field="*{patient.motif}" class="form-control" id="motif" placeholder="Motif">
                        </div>

                        <div class="form-group">
                            <label for="CouvertureSociale">Couverture Sociale</label>
                            <select class="form-control" id="CouvertureSociale" th:field="*{patient.couvertureSociale}">
                                <option value="Aucune" selected="selected">Aucune</option>
                                <option value="Assurance">Assurance</option>
                                <option value="RAMED">RAMED</option>
                                <option value="CNOPS">CNOPS</option>
                                <option value="CNSS">CNSS</option>
                            </select>
                        </div>
                        <button type="submit" class="w-100 btn btn-primary">Enregistrer</button>
                    </form>
                    <a class="btn btn-outline-secondary w-100" th:href="@{/login}">Connexion</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
